.destacado-p {
	background: white;
	border: solid 1px $azul;
	padding: 40px;
	-webkit-border-radius: 30px 0 30px 0;
	border-radius: 30px 0 30px 0;
	margin-bottom: 50px;

	p {
		font-size: 20px;
		color: #9093a7;
		line-height: 27px;
		font-weight: 300;
		margin-bottom: 0 !important;
	}

	h4 {
		color: $azul;
		margin-bottom: 20px;
	}

	img {
		width: 40px;
		margin-right: 15px;
	}
}

.intro-av {
	color: #9093a7;
	padding: 80px 0;
	background: white;

	h3 {
		margin-bottom: 35px;
	}

	p {
		margin-bottom: 40px;
	}
}

.list-afex {
	padding: 80px 0;

	h2 {
		color: $azul;
		line-height: 35px;
		font-weight: 800;
	}

	li {
		list-style: none;
		background-image: url('../img/group_717@2x.png');
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 40px;
		padding: 20px;
		padding-left: 60px;

	}

	&.servicios {
		font-size: 23px;
		color: $azul;

		ul {
			padding-left: 0;
		}

		a {
			color: #2159f4;
			text-decoration: underline;

		}

		h2 {
			max-width: 450px;
			margin-bottom: 80px;
		}
	}
}

.special-section {
	padding: 80px 0;

	p {
		font-size: 20px;
		font-weight: 300;
		color: $azul;
	}

	h2 {
		color: $azul;
	}

	.destacado-p {
		margin-bottom: 0;
	}
}

.afex-mision {
	background: white;
	color: $azul;
	font-size: 20px;

	.text {
		padding: 100px;

		h2 {
			font-weight: 800;
		}

		p {
			margin-bottom: 30px;
		}
	}

	.wall-photo {
		background-image: url(../img/pexels-photo-872957.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.afexley {
	padding: 100px 0;
	background: white;
}

.accordion_estados {
	max-width: 550px;
	margin: auto;

	.anio {
		color: $azul;
		font-weight: 800;
		font-size: 30px;
		padding: 15px;

		a {
			color: #272a5e;
			display: block;
		}

		&:hover {
			color: $azul;
			text-decoration: none;
		}
	}

	.collapse {
		a {
			color: #9093a7;
			font-size: 18px;
			display: block;
			padding: 10px 35px;
			border: solid 1px #9093a7;
			margin-bottom: 15px;

			background-image: url("../img/group_833@2x.png");
			background-color: white;
			background-position: 2% center;
			background-repeat: no-repeat;
			background-size: 10px;
			
			&:hover {
				color: white;
				text-decoration: none;
				background-color: $azul;
				background-image: url("../img/group_750@2x abajo.png");
			}
		}
	}
}
