.carousel {
	max-height: 650px;

	img {
		max-height: 650px;
	}
}

#carouselMini {
	.carousel-mini-indicators {
		//	position: absolute;
		//	right: 0;
		//	bottom: 10px;
		//	left: 0;
		z-index: 15;
		display: -ms-flexbox;
		display: flex; //	-ms-flex-pack: center;
		//	justify-content: center;
		padding-left: 0; //	margin-right: 15%;
		//	margin-left: 15%;
		list-style: none;

		li {
			position: relative;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			margin-right: 5px;
			margin-left: 5px;
			text-indent: -999px;
			cursor: pointer;
			background-color: white;
			border: solid 1px $azul;

			&.active {
				background-color: $azul;
			}
		}
	}

	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				background-color: rgba(39, 42, 94, 1);
				text-align: left;
				right: 0;
				left: 0;
				padding: 15px;
				box-sizing: content-box;
				position: initial;
				margin-bottom: 15px;

				h5 {
					text-align: left;
					text-transform: uppercase;
					color: white;
					margin: 0;
					font-size: 24px;
					font-weight: 700;
					padding: 0;
				}
			}
		}
	}


}


#carouselHome {
	.carousel-indicators {
		bottom: 0;
		margin-bottom: 0;
		margin: 0;

		li {
			flex: 1;
		}
	}



	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				background: rgba(39, 42, 94, 0.8);
				text-align: left;
				color: white;
				left: 0;
				top: 0;
				padding: 0;
				bottom: 0;
				width: 50%;
				padding-top: 100px;
				padding-left: 15%;
				
				img {
					width: 50px;
				}

				h2 {
					font-size: 40px; 
					font-weight: 800;
					margin-bottom: 10px;
					max-width: 400px;
				}

				p {
					font-size: 26px;
					margin-bottom: 30px;
					max-width: 400px;
				}

				&:before {
					content: "";
					position: absolute;
					right: -240px;
					bottom: 0;
					width: 0;
					height: 0;
					border-left: 240px solid rgba(39, 42, 94, 0.8);
					border-top: 0px solid transparent;
					border-bottom: 700px solid transparent;
					height: 100%;
				}

				&:after {
					content: "";
					position: absolute;
					right: -120px;
					bottom: 0;
					width: 20px;
					background-color: #ffdc4a;
					height: 100%;
					transform: skewX(-20deg);
				}
			}
		}
	}
}
