@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i');


body {
	background: #EAEBEF;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-top: 134px;

	@media only screen and (max-width: 1024px) {
		padding-top: 152px;
	}
}

.boton-yellow {
	background: $amarillo;
	color: white;
	padding: 15px 25px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 50px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
	font-weight: 700;
	border: solid 1px $amarillo;

	&:hover {
		text-decoration: none;
		color: white;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background: #ad8d09;
	}
}

.text-yellow {
	color: $amarillo;
}

.breadcrumb {
	padding: 0;
	margin-bottom: 1rem;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	color: white;
	font-size: 11px;

	li {
		&.active {
			color: white;
		}
	}

	a {
		color: white;
	}

	&.azul {
		margin-bottom: 60px;
		margin-top: -30px;

		li,
		a {
			color: $azul;
		}
	}
}

.parallax {
	background-image: url("../img/para.jpg");
	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-quieres {
	position: relative;
	color: white;
	padding: 100px 0;
	text-align: left;
	overflow: hidden;

	.rectangulo-giro {
		position: absolute;
		width: 500px;
		height: 500px;
		background-color: $amarillo;
		transform: rotate(135deg);
		top: 30px;
		left: -300px;
	}

	.container {
		padding-left: 300px;
	}

	h2 {
		font-weight: 700;
	}

	h5 {
		margin-bottom: 50px;
		font-weight: 300;
	}

	background-image: linear-gradient(to right, rgba(39, 42, 94, 0.82) 0%, rgba(39, 42, 94, 0.27) 100%),
	url("../img/pexels-photo-886465.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;



	@media only screen and (max-width: 1024px) {
		text-align: center;
		padding: 80px 0;

		.container {
			padding-left: 0;
		}

		.rectangulo-giro {
			display: none;
		}
	}

}


.hero-area {
	background-image: url("../img/para.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.row {
		h6 {
			text-transform: uppercase;
			color: white;
			font-size: 20px;
			font-weight: 700;
		}

		h1 {
			font-weight: 700;
			color: white;
			font-size: 40px;
		}

		h3 {
			color: white;
			margin-bottom: 30px;
			font-weight: 300;
			font-size: 25px;
			line-height: 33px;
		}

		.hero-text {
			padding-top: 100px;
			padding-bottom: 50px;
			padding-left: 60px;
			padding-right: 60px;
			background-color: rgba(39, 42, 94, 0.8);
			position: relative;

			@media only screen and (max-width: 1020px) {
				padding: 10%;

				&:before,
				&:after {
					display: none;

				}
			}

			//			h1, h3, p {
			//				max-width: 450px;
			//			}
			&:before {
				content: "";
				position: absolute;
				right: -240px;
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 240px solid rgba(39, 42, 94, 0.8);
				border-top: 0px solid transparent;
				border-bottom: 700px solid transparent;
				height: 100%;
			}

			&:after {
				content: "";
				position: absolute;
				right: -92px;
				bottom: 0;
				width: 15px;
				background-color: #ffdc4a;
				height: 100%;
				transform: skewX(-19deg);
			}
		}
	}
}

.special-bread {
	.col {
		background: #eaebef;
		color: $azul;
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
		padding: 25px 0px;
		padding-left: 30px;
		position: relative;
		font-weight: 700;
		overflow: hidden;



		&.active {
			background: $amarillo;
			color: white;
			overflow: inherit;

			&:before {
				content: "";
				position: absolute;
				left: 0px;
				top: 0;
				z-index: 13;
				width: 0;
				height: 74px;
				border-left: solid 30px #eaebef;
				border-bottom: solid 38px transparent;
				border-top: solid 36px transparent;
			}

			&:after {
				content: "";
				position: absolute;
				right: -30px;
				top: 0;
				z-index: 13;
				width: 0;
				height: 74px;
				border-left: solid 30px $amarillo;
				border-bottom: solid 38px transparent;
				border-top: solid 36px transparent;
			}
		}

		&:last-child {
			overflow: hidden !important;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

.ademas {
	background: #eaebef;
	font-weight: 300;
	color: $azul;
	padding: 50px 0;
	font-size: 18px;

	p {
		margin-bottom: 10px;
	}

	b {
		font-weight: 700;
	}
}

#faq {
	padding: 90px 0;
	background: white;
}

.accordion_faq {
	margin: 20px auto;
	width: 80%;
	max-width: 750px;
	font-size: 18px;
	color: $azul;

	.card {
		margin-bottom: 15px;
		-webkit-border-radius: 30px 0 30px 0 !important;
		border-radius: 30px 0 30px 0 !important;
		border: solid 1px $azul !important;
	}

	.card-header {
		background: transparent;
		border-bottom: none;

		h5,
		a,
		.btn-link {
			color: $azul;
			font-size: 18px;
			font-weight: 800;

			&:hover {
				text-decoration: none;
			}
		}

		.btn-link {
			display: block;
			width: 100%;
			text-align: left;
			padding: 0;
		}
	}

	.card-body {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 300;
	}
}

.compartir {
	img {
		width: 15px !important;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0 !important;
		margin-right: 5px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	a {
		display: inline-block;
		vertical-align: middle;

		i {
			color: $azul;
			font-size: 20px;
			margin-left: 5px;

			&:hover {
				opacity: .5;
			}
		}
	}
}
