input,
textarea {
	border: solid 1px $azul;
	background: white;
	color: $azul;
	display: block;
	//	margin: 5px 0;
	width: 100%;
	padding: 15px;
}

select {
	border: solid 1px $azul;
	background: white;
	color: $azul;
	display: block;
	//	margin: 5px 0;
	width: 100%;
	padding: 15px;
	height: 40px;
	border-radius: 0;
}


form {
	padding-right: 45px;
	p {
		font-size: 18px;
		color: #9093a7;
		margin-bottom: 0;
	}

	h6 {
		color: #272a5e;
		font-weight: 500;
		margin-top: 40px;
		margin-bottom: 20px;
		width: 100%;
	}

	input {
		margin-bottom: 20px;
	}

	.col {
		padding-left: 0;
		padding-right: 0;
	}

	.enviar {
		text-align: right;

		span {
			display: block;
			color: red;
			font-size: 12px;
			margin-bottom: 25px;
			margin-top: 30px;
		}
	}
	.col + .col {
		padding-left: 15px;
	}

}




.radio {
	flex: 1;

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		max-width: 255px;

		+ .radio-label {
			&:before {
				content: '';
				background: $color1;
				border-radius: 100%;
				border: 1px solid darken($color1, 25%);
				display: inline-block;
				width: 1.4em;
				height: 1.4em;
				position: relative;
				top: -0.2em;
				margin-right: 1em;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				transition: all 250ms ease;
			}
		}

		&:checked {
			+ .radio-label {
				&:before {
					background-color: $amarillo;
					box-shadow: inset 0 0 0 4px $color1;
					border-color: $azul;
				}
			}
		}

		&:focus {
			+ .radio-label {
				&:before {
					outline: none;
					border-color: $azul;
				}
			}
		}

		&:disabled {
			+ .radio-label {
				&:before {
					box-shadow: inset 0 0 0 4px $color1;
					border-color: darken($color1, 25%);
					background: darken($color1, 25%);
				}
			}
		}

		+ .radio-label {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}
