#features {
	padding: 150px 0;

	a {
		&:hover {
			text-decoration: none;
		}
	}


	.card {
		-webkit-border-radius: 15px 0 15px 0;
		border-radius: 15px 0 15px 0;
		background: white;
		border: none;

		&:hover {
			background: linear-gradient(to right, rgba(39, 43, 91, 0.7) 0%, rgba(39, 43, 91, 0.7) 100%), url('../img/pexels-photo-886465.jpeg');
			background-size: cover;
			color: white;

			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;


			.icon-card {
				background: white;
			}

			.card-body {

				h3,
				p {
					color: white;
				}
			}

			.icon-card {
				.encima {
					display: none;
				}

				.abajo {
					display: block;
				}
			}

			.boton-yellow {
				opacity: 1;
				visibility: visible;
			}

		}

		.icon-card {
			position: absolute;
			top: -50px;
			background: $azul;
			color: white;
			padding: 15px;

			left: 50%;
			margin-left: -50px;


			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;


			img {
				width: 80px;
			}

			.encima {
				display: block;
			}

			.abajo {
				display: none;
			}
		}

		.card-body {
			padding-top: 75px;
			padding-bottom: 30px;

			h3 {
				font-size: 23px;
				line-height: 26px;
				color: $azul;
			}

			p {
				font-size: 15px;
				color: #9093a7;
			}
		}

		.boton-yellow {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 50%;
			margin-left: -50px;
			bottom: -25px;
		}
	}
}

#elegirnos {
	background-image: linear-gradient(to right, rgba(39, 42, 94, 0.82) 0%, rgba(39, 42, 94, 0.27) 100%), url("../img/pexels-photo-872957.jpeg");
	padding-top: 100px;
	color: white;
	overflow: hidden;
	position: relative;

	h1 {
		margin-bottom: 100px;
		font-weight: 800;
	}

	.item-eleg {
		display: flex;
		align-items: flex-start;
		margin-bottom: 60px;

		img {
			width: 30px;
			margin-right: 15px;
		}

		.item-eleg-text {
			h3 {
				font-weight: 800;
				font-size: 23px;
			}

			flex-grow: 1;
		}
	}

	#triangle-up {
		width: 0;
		height: 0;
		border-left: 250px solid transparent;
		border-right: 50px solid transparent;
		border-bottom: 300px solid $amarillo;
		position: absolute;
		bottom: 0;
		right: -5%;
	}

	#triangle-down {
		width: 0;
		height: 0;
		border-left: 550px solid transparent;
		border-right: 50px solid transparent;
		border-top: 600px solid $amarillo;
		position: absolute;
		top: 0;
		right: -14%;
	}

	@media only screen and (max-width: 1024px) {
		padding-top: 60px;
		padding-bottom: 80px;
		#triangle-up,
		#triangle-down {
			display: none;
		}

		h1 {
			font-size: 25px;
			margin-bottom: 35px;
		}

		.item-eleg {
			margin-bottom: 20px;
			img {
				width: 20px;
			}

			.item-eleg-text {
				h3 {
					font-size: 20px;
				}
			}

			p {
				display: none;
			}
		}
	}


}

#servicios-home {
	background: white;
	color: #9396A7;
	padding-bottom: 80px;

	@media (max-width: 992px) {
		.for-text {
			float: none !important;
			max-width: none !important;
			padding: 45px 15px !important;
		}
	}

	.for-text {
		float: right;
		max-width: 550px;
		padding-right: 15%;
	}

	p {
		font-size: 20px;
		color: $azul;
		margin-bottom: 30px;
		font-weight: 300;
		line-height: 27px;
	}

	h3 {
		color: $azul;
		font-size: 35px;
		font-weight: 700;
	}

	img {
		margin-bottom: 30px;
		width: 30px;
	}


}


.ultimas-noticias {
	padding: 60px 0;

	.not-destacada {
		background: white;
		margin-bottom: 60px;
		-webkit-border-radius: 15px 0 15px 0;
		border-radius: 15px 0 15px 0;
		color: $azul;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		img {
			max-width: 100%;
		}

		h3 {
			color: $azul;
			font-size: 25px;
			font-weight: 700;
		}

		p {
			font-size: 15px;
			color: $azul;
			line-height: 20px;
			font-weight: 300;
		}

		.not-date {
			color: white;
			background: $azul;
			padding: 10px 1.25rem;
			font-size: 11px;
			font-weight: 800;

		}

		.not-text {
			padding: 20px 30px;
		}

		a,
		p {
			&:hover {
				color: white;
				text-decoration: none;
			}
		}

		&:hover {
			background: $azul;
			color: white !important;
			text-decoration: none;

			a,
			p,
			h3 {
				color: white;
			}

			.not-date {
				background: $amarillo;
				color: white;

			}
		}
	}

	h2 {
		display: block;
		margin: auto;
		margin-bottom: 50px;
		text-align: center;
		color: $azul;
		font-size: 35px;
		font-weight: 700;
	}

	.card {
		-webkit-border-radius: 15px 0 15px 0;
		border-radius: 15px 0 15px 0;
		min-width: 250px;
		margin-bottom: 50px;
		border: none;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;


		.card-img-top {
			border-top-left-radius: 15px;
			border-top-right-radius: 0;
			position: relative;
		}

		.card-date {
			color: white;
			background-image: linear-gradient(to right, #272a5e, rgba(39, 42, 94, 0.86) 66%, rgba(39, 42, 94, 0.28));
			padding: 10px 1.25rem;
			font-size: 11px;
			font-weight: 800;
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.card-body {
			h3 {
				color: $azul;
				font-size: 25px;
				font-weight: 700;
			}

			p {
				font-size: 15px;
				color: $azul;
				line-height: 20px;
				font-weight: 300;
			}
		}

		a {
			padding: 0;
			text-decoration: none;
		}

		&:hover {
			background: $azul;
			color: white;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			.card-date {
				background-image: linear-gradient(to right, #ffdc4a, rgba(255, 220, 74, 0.66) 66%, rgba(255, 220, 74, 0.65));
			}

			.card-body {

				h3,
				p {
					color: white;
				}
			}
		}
	}

	.feed-news {
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-between;

		.card {
			width: 30%;
		}
	}
}


footer {
	background: white;
	color: $azul;
	font-weight: 300;

	&.row {
		margin-left: 0;
		margin-right: 0;
	}

	> div {
		padding: 50px 0;

		@media only screen and (max-width: 1024px) {
			padding: 30px;
		}
	}

	a {
		color: $azul;

		&:hover {
			color: $azul;
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 15px;
	}

	.listado-footer {
		.row {
			max-width: 810px;

			@media only screen and (max-width: 1024px) {
				ul {
					padding-left: 0;
				}

				li {
					font-size: 10px;
				}

			}

			li {
				list-style: none;
				background-image: url("../img/blue-arrow.png");
				background-position: left center;
				background-repeat: no-repeat;
				background-size: 10px;
				padding-left: 15px;


			}
		}
	}

	.contacto {
		background: #9093a7;
		padding-right: 0;
		color: white;

		@media only screen and (max-width: 1024px) {
			font-size: 12px;
			display: flex;
			justify-content: space-between;
			padding-right: 15px;

			ul {
				padding-left: 0;
				margin-bottom: 0;
			}
		}

		ul {
			list-style: none;
		}

		a {
			color: white;
		}

		.fab {
			font-size: 37px;
			margin-left: 40px;
			color: $azul;
			-webkit-transition: all 0.4s ease-out 0s;
			-moz-transition: all 0.4s ease-out 0s;
			-ms-transition: all 0.4s ease-out 0s;
			-o-transition: all 0.4s ease-out 0s;
			transition: all 0.4s ease-out 0s;

			&:hover {
				color: white;
			}
		}

		.fas {
			margin-right: 10px;
		}
	}
}

.revisa-indicadores {
	background: $azul;
	color: white;
	font-size: 14px;
	padding: 15px;
	font-weight: 300;

	@media only screen and (max-width: 1024px) {
		text-align: center;
	}

	a {
		text-transform: uppercase;
		color: $amarillo;
		font-weight: 700;
		text-decoration: underline;

	}

}

.after-footer {
	background: white;
	padding: 15px 0;

	a {
		display: inline-block;
		vertical-align: middle;

		img {
			width: 100px;
			margin-right: 25px;
		}
	}

	.vanilla {
		font-size: 10px;
		color: $azul;
		font-weight: 300;
		text-align: right;

		a {
			text-decoration: underline;
			color: $azul;
		}

		@media only screen and (max-width: 1024px) {
			text-align: left;
			margin-top: 15px;
		}
	}
}

.contacto-page {
	background: white;
	padding: 80px 0;

	h6 {
		font-weight: 700;
		font-size: 18px;
	}

	p {
		color: #9093a7;
		font-size: 18px;
		font-weight: 300;

		b {
			color: #ff204e;
		}
	}

	.contacto {
		padding-right: 0;
		color: $azul;
		padding-top: 100px;
		font-size: 15px;
		font-weight: 300;

		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}

		h4 {
			font-size: 30px;
			color: $azul;
			margin-bottom: 35px;
		}

		a {
			color: $azul;
		}

		.fab {
			font-size: 37px;
			margin-left: 0px;
			color: $azul;

			&:hover {
				opacity: .5;
			}
		}

		.fas {
			margin-right: 10px;
		}
	}
}

#links {
	background: white;
	padding: 70px 0;
}

.links-interes {
	a {
		background-color: white;
		background-image: url('../img/group_833@2x.png');
		background-position: 2% center;
		background-repeat: no-repeat;
		color: #9093a7;
		font-size: 18px;
		border: solid 1px #9093a7;
		padding: 8px 40px;
		display: block;
		margin-bottom: 20px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover {
			background-color: $azul;
			background-image: url('../img/group_750@2x.png');
			color: white;
			text-decoration: none;
			border: solid 1px $azul;
		}
	}
}

.noticia {
	background: white;
	padding: 100px 0;

	img {
		width: 100%;
		margin-bottom: 20px;
	}

	.date {
		color: white;
		background: $azul;
		padding: 10px 1.25rem;
		font-size: 11px;
		font-weight: 300;
		margin-bottom: 40px;
	}

	.noticia-text {
		h3 {
			color: $azul;
			font-size: 25px;
			font-weight: 700;
		}

		h4 {
			color: $azul;
			font-size: 19px;
			margin-bottom: 20px;
			margin-top: 10px;
			font-weight: 700;
			line-height: 28px;
		}

		p {
			font-size: 15px;
			color: $azul;
			line-height: 22px;
			font-weight: 300;
		}

		.subtitulo {
			color: #9093a7;
			font-style: italic;
			font-size: 15px;
			margin-bottom: 40px;
		}

		li {
			color: $azul;
			font-weight: 300;
			list-style: none;
			background-image: url("../img/flechas.png");
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10px;
			padding-left: 15px;
		}
	}
}
