#features {
	padding: 150px 0;

	.card {
		-webkit-border-radius: 15px 0 15px 0;
		border-radius: 15px 0 15px 0;
		background: white;
		border: none;

		&:hover {
			background: $azul;
			color: white;
			.icon-card {
				background: white;
			}
			.card-body {
				h3,
				p {
					color: white;
				}
			}
		}
		.icon-card {
			position: absolute;
			top: -50px;
			background: $azul;
			color: white;
			padding: 20px;

			left: 50%;
			margin-left: -50px;

			img {
				width: 50px;
				height: 50px;
			}
		}
		.card-body {
			padding-top: 60px;
			padding-bottom: 60px;
			h3 {
				font-size: 23px;
				line-height: 26px;
				color: $azul;
			}
			p {
				font-size: 15px;
				color: #9093a7;
			}
		}
		.boton-yellow {
			position: absolute;
			left: 50%;
			margin-left: -50px;
			bottom: -25px;
		}
	}
}

#elegirnos {
	//	background: $azul;
	padding-top: 150px;
	color: white;

	h1 {
		margin-bottom: 100px;
	}
	.item-eleg {
		display: flex;
		align-items: flex-start;
		margin-bottom: 100px;
		i {
			background: $amarillo;
			color: $azul;
			font-size: 24px;
			padding: 25px;
			border-radius: 100%;
			flex-grow: 1;
			margin-right: 10px;
			padding: 17px 15px;
			line-height: 0;
		}
		.item-eleg-text {
			flex-grow: 1;
		}
	}

}

#servicios-home {
	background: white;
	color: #9396A7;
	padding-bottom: 80px;
	h3 {
		color: $azul;
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	h3 + p {
		font-size: 20px;
		color: $azul;
		font-weight: 300;
	}
}


.ultimas-noticias {
	padding: 150px 0;
	h2 {
		display: block;
		margin: auto;
		margin-bottom: 50px;
		text-align: center;
		color: $azul;
		font-size: 35px;
		font-weight: 700;
	}
	.card {
		-webkit-border-radius: 15px 0 15px 0;
		border-radius: 15px 0 15px 0;
		.card-img-top {
			border-top-left-radius: 15px;
			border-top-right-radius: 0;
		}
		.card-date {
			color: white;
			background: $azul;
			padding: 10px 1.25rem;
			font-size: 11px;
			font-weight: 300;
		}
		.card-body {
			h3 {
				color: $azul;
				font-size: 25px;
				font-weight: 700;
			}
			p {
				font-size: 15px;
				color: $azul;
				line-height: 20px;
				font-weight: 300;
			}
		}
		a {
			color: #9093A5;
			padding: 15px 1.25rem;
			&:hover {
				color: $amarillo;
				text-decoration: none;
			}
		}
		&:hover {
			background: $azul;
			color: white;
			.card-date {
				background: $amarillo;
			}
			.card-body {
				h3,
				p {
					color: white;
				}
			}
		}
	}
}


footer {
	background: white;
	color: $azul;
	font-weight: 300;
	&.row {
		margin-left: 0;
		margin-right: 0;
	}
	> div {
		padding: 50px 0;
	}
	a {
		color: $azul;
		&:hover {
			color: $azul;
			text-decoration: underline;
		}
	}
	li {
		margin-bottom: 15px;
	}
	.listado-footer {
		.row {
			max-width: 810px;
			li {
				list-style: none;
				background-image: url("../img/blue-arrow.png");
				background-position: left center;
				background-repeat: no-repeat;
				background-size: 10px;
				padding-left: 15px;
			}
		}
	}
	.contacto {
		background: #9093a7;
		padding-right: 0;
		color: white;
		ul {
			list-style: none;
		}
		a {
			color: white;
		}
		.fab {
			font-size: 37px;
			margin-left: 40px;
			color: $azul;
		}
		.fas {
			margin-right: 10px;
		}
	}
}

.revisa-indicadores {
	background: $azul;
	color: white;
	font-size: 14px;
	padding: 15px;
	font-weight: 300;
	a {
		text-transform: uppercase;
		color: $amarillo;
		font-weight: 700;
		text-decoration: underline;
	}
}

.after-footer {
	background: white;
	padding: 15px 0;
	a {
		display: inline-block;
		vertical-align: middle;
		img {
			width: 100px;
			margin-right: 25px;
		}
	}
	.vanilla {
		font-size: 10px;
		color: $azul;
		font-weight: 300;
		a {
			text-decoration: underline;
			color: $azul;
		}
	}
}
