$azul: #272B5B;
$amarillo: #ffdc4a;

//Status colors
//$green: #36b07f;
//$yellow: #f2c618;
//$orange: #f78521;
//$red: #f52323;

// colors in class
//.green {color:$green}
//.yellow {color:$yellow}
//.orange {color:$orange}
//.red {color:$red}
//.systeml0 {color:$systeml0}
//.application {color:$application}
//.tilel2 {color:$tilel2}
//.text {color:$text}
//.gray {color:$gray}
//.link {color:$link}
//.blue {color:$blue}
//.purple {color:$purple}
